[submodule "Drivers/sd_logger_sm"]
	path = Drivers/sd_logger_sm
	url = https://github.com/bazhen-paseka/sd_logger_sm.git
[submodule "Drivers/SD_card_SPI_TechM_SM"]
	path = Drivers/SD_card_SPI_TechM_SM
	url = https://github.com/bazhen-paseka/SD_card_SPI_TechM_SM.git
[submodule "Drivers/ds3231_sm"]
	path = Drivers/ds3231_sm
	url = https://github.com/bazhen-paseka/ds3231_sm.git
[submodule "Drivers/i2c_TechMaker_sm"]
	path = Drivers/i2c_TechMaker_sm
	url = https://github.com/bazhen-paseka/i2c_TechMaker_sm.git
[submodule "Drivers/temp_ds18b20_sm"]
	path = Drivers/temp_ds18b20_sm
	url = https://github.com/bazhen-paseka/temp_ds18b20_sm.git
[submodule "Drivers/lcd1602_fc113_sm"]
	path = Drivers/lcd1602_fc113_sm
	url = https://github.com/bazhen-paseka/lcd1602_fc113_sm.git
[submodule "https://github.com/bazhen-paseka/nrf24l01_sm.git"]
	path = https://github.com/bazhen-paseka/nrf24l01_sm.git
	url = https://github.com/bazhen-paseka/nrf24l01_sm.git
[submodule "Drivers/nrf24l01_sm"]
	path = Drivers/nrf24l01_sm
	url = https://github.com/bazhen-paseka/nrf24l01_sm.git
